
  <div id="top">
    <div class="owner">
      <a href="mailto:{{person.info.email}}">
        <img ng-src="{{person.info.avatar_url}}" style="width:150px">
      </a>
    </div>
    <h2><span class="id">{{$parent.getName(person)}}</h2>
    <p class="desc">An easy way to expose properties on a module from a package.json </p>
  </div>

  <div id="bottom">
    <h3>usage </h3>
    <p class="npm"><span class="shell">$ </span>npm install pkginfo</p>
    <h3>links</h3>
    <ul>
      <li><a href="https://npmjs.org/package/pkginfo">npm registry</a>
      </li>
    </ul>
    <h3 class="githubTitle">github</h3>

    <section class="github">
      <p>
        <iframe width="170" scrolling="0" height="30" frameborder="0" allowtransparency="" src="http://ghbtns.com/github-btn.html?user=indexzero&amp;repo=pkginfo&amp;type=watch&amp;size=large&amp;count=true">
        </iframe>
      </p>
      <p>
        <iframe width="170" scrolling="0" height="30" frameborder="0" allowtransparency="" src="http://ghbtns.com/github-btn.html?user=indexzero&amp;repo=pkginfo&amp;type=fork&amp;size=large&amp;count=true">
        </iframe>
      </p>
      <p>
        <a href="https://api.github.com/repos/indexzero/node-pkginfo">https://api.github.com/repos/indexzero/node-pkginfo</a>
      </p>
    </section>

    <h3 class="tags">tags</h3>
    <ul class="tags">
      <li class="tag"><a href="/tags/info">info</a></li>
      <li class="tag"><a href="/tags/tools">tools</a></li>
      <li class="tag"><a href="/tags/package.json">package.json</a></li>
    </ul>
  </div>
