
  <div id="top">
    <div class="owner">
      <a href="mailto:{{person.info.email}}">
        <img ng-src="{{person.info.avatar_url}}" style="width:150px">
      </a>
    </div>
    <h2><span class="id">{{person.name}}</h2>
    <p class="desc">{{person._desc}}</p>
  </div>

  <div id="bottom">
    <h3 class="githubTitle">github</h3>
    <ul>
      <li><a href="{{person.info.html_url}}">{{person.info.html_url}}</a>
      </li>
    </ul>

    <h3>Expertise</h3>
    <div id="lang-pie" class="mychart"></div>
    <ul>
      <li ng-repeat="value in person._lang">{{value[0]}}: {{value[1]}}</a>
      </li>
    </ul>

    <h3 class="githubTitle">Hot Repos</h3>
    <table class="detail-item">
      <tr ng-repeat="repo in person.repos">
        <td>&nbsp;</td>
        <td><li>#{{repo.events}}</li></td>
        <td>-</td>
        <td><a href="https://github.com/{{repo.repo}}">{{repo.repo}}</a></td>
      </tr>
    </table>

    <h3 class="githubTitle">Historical Contribution</h3>
    <div id="m-contrib-con" class="mychart">monthly contribution chart
    </div>
    
    <h3 class="githubTitle">Hourly Contribution</h3>
    <div id="h-contrib-con" class="mychart">hourly contribution chart
    </div>

    <h3 class="githubTitle">Week Daily Contribution</h3>
    <div id="d-contrib-con" class="mychart">daily contribution chart
    </div>

    <h3 class="githubTitle">Rank</h3>
    <table width="100%" class="detail-item">
      <tr>
        <th align="left">Language</th>
        <th align="left">China #</th>
        <th align="left">World #</th>
      </tr>
      <tr ng-repeat="rank in person._rankChina">
        <td>{{rank[0]}}</td>
        <td>{{rank[1]}}</td>
        <td>{{getWorldRank(rank[0])}}</td>
      </tr>
    </table>

  </div>
